@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(3, 0, 54);
    color: white;
}

#Icons {
    display: flex;
    align-items: center;
    gap: 5px;
}

#Icons img {
    filter: invert(10);
}

#Exit {
    padding: 2px;
    border-radius: 50%;
    background-color: white;
    margin-left: 50px;
    cursor: pointer
}

#Follow {
    margin-bottom: 5px;
    margin-right: 2px;
}

nav {
    padding: 1.2rem;
    background-color: #fff;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* background-color: beige; */
    height: 75vh;
}

.hero-left {
    width: 50%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 2px;
}

.hero-left h3 {
    font-size: 2.3rem;
}

.hero-left h3:nth-child(1),
.hero-left h3:nth-child(3) {
    color: #5ecff9;
}

#element {
    font-size: 20px;
    margin-top: 20px;
    font-family: "Josefin Sans", sans-serif;
}

.hero-right {
    width: 50%;
    height: 100%;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-right img {
    border: 2px solid white;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}


.hero-right img:hover {
    transform: scale(1.2);
}

.image {
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

.image.fade-in {
    opacity: 1;
}